// Color
$brand:					#003d71!default; // blue
$accent:				#fe7f3c!default; // orange
$black: 				#000!default; // black
$white:					#fff!default; // white
$light-blue:			#66b2f1!default; //  light-blue
$nav-color:				#282828 !default; // nav color


// Font Family

$roboto:				'Roboto', sans-serif !default;
$Montserrat: 			'Montserrat', sans-serif;
$Montserrat-light: 		'Montserrat Light', arial;


// Media Queries Mixins

$mob-479:				479px !default;
$tab-768:				768px !default;
$tab-max1024:			1024px !default;
$desk1200:				1200px !default;
$lap1366:				1366px !default;

